# Python
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data (too big for Git usually — we'll link in README instead)
data/*.csv
data/*.parquet

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/